.page.execute {
    #cesiumContainer {
        height: 100vh;
    }

    .cesium-widget-credits,
    .cesium-viewer-toolbar {
        display: none;
    }

    .info {
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        background-color: wheat;
        max-width: 400px;
        font-size: 12px;
    }

    iframe {
        width: 100%;
        aspect-ratio: 1;
    }
}