.page.pick-route {
    .map {
        width: 200px;
        height: 200px;
        flex: 1 1 200px;
        pointer-events: none;
    }

    .routes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .leaflet-control-container {
        display: none;
    }

    .route {
        &:hover {
            .name {
                color: rgb(84, 224, 84);
            }
        }
    }
}