@use "./node_modules/nes.css/css/nes.css";

@use './pages/start';
@use './pages/pick-character';
@use './pages/pick-route';
@use './pages/execute';

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page,
#root,
html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Press Start 2P', system-ui;
}

.page {
    h1 {
        color: black;
        width: 100%;
        text-align: center;
        padding-block: 60px;
    }
}